#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #53D3DE;
    opacity: 70%;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #53D3DE;
    opacity: 100%;
}

.button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 2vw;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    font-family:ecoro ;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    text-decoration: bold;
   
  }
  
  .button1:hover {
    background-color: #FF5A00;
    color: white;
    border-radius: 10px;
  }
  
  .carousel-inner img {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .carusel-title{
color: #CF101F;
font-family:  ecoro;
padding-left: 20%;

  }
  p{

    font-weight: bold;
    padding-left: 20%;
    line-height: 35px;
    font-size:1vw;
  }
